.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 6rem;
  font-size: 4rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
}

/* Create User */

.create-account-form {
  display: flex;
  flex-direction: column;
}